<div class="product-card">
  <div class="product-card-image" style='background-image: url(<%= asset_path("#{product.name.split.join}.jpeg") %>)'></div>
  <div class="product-info-container">
    <div class="product-card-text">
      <h3><%= product.name %></h3>
      <p><%= product.description %></p>
    </div>
    <div class="product-card-details">
      <p>£<%= '%.2f' % product.price %></p>
      <p><%= product.weight %>g</p>
      <%= link_to '#', class: "btn btn-outline-info" do %>
        <i class="fas fa-cart-plus"></i>
      <% end %>
    </div>
  </div>
</div>
